<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>AromaMart</title>
    <link rel="stylesheet" href="contactus.css">
</head>
<body>
    <header class="hr">
        <h1>AromaMart</h1>
    </header>
    <main class="mn">
        <section>
            <div class="Contact-Us">
                <div class="Contact-Us-left">
                     <h1 class="h1">Contact Us</h1>
                     <p>Customer service timing:
                      10am - 10pm</p>
                </div>
                <div class="social">
                    <div class="whatsapp"><img src="whatsapp.png" alt=""><p class="W">whatsapp</p>
                    </div><div class="phone"><img src="phone-call.png" alt=""><p class="W">phone</p></div></div>
            </div>
            <div class="user-data">
                <div class="user-r">
                <div class="user-data-top">
                    <form action="#">
                        <select name="" id="">
                            <option value="">Customer Profile</option>
                            <option value="">Marketing</option>
                            <option value="">Order</option>
                            <option value="">Porduct</option>
                            <option value="">Shipping</option>
                            <option value="">Store</option>

                        </select>
                        <input type="text" placeholder="First Name " name="First Name ">
                        <input type="text" placeholder="Last Name " name="Last Name ">
                </div>
                <div class="user-data-md">
                    <input type="email" placeholder="email" name="email">
                    <input type="tel" placeholder="+966 000 000 000">
                    <input type="number">
                    
                </div>
            </div>

                <div class="inpC" id="inpc"><h5>Title* </h5><input type="text" class="inp1" placeholder=""></div>
                <div class="inpC" id="inpc"><h5>Comment* </h5><input type="text" class="inp2"></div>
                <div class="submt">
                      <div class="but"><button >SUBMIT</button></div>
                </form>
                </div>
            </div>
            
        </section>
    </main>

</body>
</html>